<!DOCTYPE html>

<head>
    <title>Draw and guess! Game no {{ game_id }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">
    <style>
        #gameContainer {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 1300;
            height: 730px;
        }

        #canvasdiv {
            border: 2px solid black;
            margin-right: 30px;
            margin-left: 30px;
            margin-bottom: 10px;
            float: left;
            width: 650px;
            height: 450px;
        }

        #canvas {
            background-color: white;
        }

        #chatbox {
            float: right;
            width: 250px;
            height: 450px;
            border: 2px solid black;
            background-color: white;
            position: relative;
        }

        #box {
            text-align: left;
            height: 430px;
            padding-left: 5px;
        }

        #playersList {
            float: left;
            width: 250px;
            height: 450px;
            border: 2px solid black;
            background-color: white;
        }

        #textarea {
            width: 100%;
        }

        #narzedzia {
            background-color: white;
            width: 365px;
            clear: both;
            display: inline-block;
            margin-bottom: 10px;
        }

        #text {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        #table_colors {
            padding: 12px;
            display: inline-block;
            background-color: white;
            margin-bottom: -4px;
        }
    </style>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" onclick="leave_room();" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/newGame">New game</a></li>
                </ul>
            </nav>
        </div>

        <div class="jumbotron" id="gameContainer">
            <div id="playersList">
                <h5>Players</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nick</th>
                            <th scope="col">Points</th>
                            <th scope="col">Drawing</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{player.nickName}}</td>
                            <td>{{player.points}}</td>
                            {% if player.isDrawing %}
                            <td>draw</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="canvasdiv"><canvas id="canvas" width="650" height="450"></canvas></div>
            <div id="chatbox">
                <div id="box">
                    <textarea id="chat"></textarea>

                </div>
                <div id="text">
                    <input type="text" class="form-control" id="textarea" placeholder="type...">
                </div>

            </div>
            <br>

            <div class="row" id="narzedzia">
                <input type="image" src="/static/img/pencil.png" width="64" height="64" value="Pencil"
                    onclick="pencil()">
                <input type="image" src="/static/img/1.png" width="64" height="64" value="size1" onclick="size1()">
                <input type="image" src="/static/img/2.png" width="64" height="64" value="size2" onclick="size2()">
                <input type="image" src="/static/img/3.png" width="64" height="64" value="size3" onclick="size3()">
                <input type="image" src="/static/img/clear.png" width="64" height="64" value="clear" onclick="cleare()">

            </div>
            <table id="table_colors">
                <td>
                    <div onclick="color('#0000ff')"
                        style="border-style:solid;width:20px;height:20px;background-color:#0000ff"></div>
                <td>
                <td>
                    <div onclick="color('#009fff')"
                        style="border-style:solid;width:20px;height:20px;background-color:#009fff"></div>
                <td>
                <td>
                    <div onclick="color('#0fffff')"
                        style="border-style:solid;width:20px;height:20px;background-color:#0fffff"></div>
                <td>
                <td>
                    <div onclick="color('#bfffff')"
                        style="border-style:solid;width:20px;height:20px;background-color:#bfffff"></div>
                <td>
                <td>
                    <div onclick="color('#000000')"
                        style="border-style:solid;width:20px;height:20px;background-color:#000000"></div>
                <td>
                <td>
                    <div onclick="color('#333333')"
                        style="border-style:solid;width:20px;height:20px;background-color:#333333"></div>
                <td>
                <td>
                    <div onclick="color('#666666')"
                        style="border-style:solid;width:20px;height:20px;background-color:#666666"></div>
                <td>
                <td>
                    <div onclick="color('#999999')"
                        style="border-style:solid;width:20px;height:20px;background-color:#999999"></div>
                <td>
                <td>
                    <div onclick="color('#ffcc66')"
                        style="border-style:solid;width:20px;height:20px;background-color:#ffcc66"></div>
                <td>
                <td>
                    <div onclick="color('#ffcc00')"
                        style="border-style:solid;width:20px;height:20px;background-color:#ffcc00"></div>
                <td>
                <td>
                    <div onclick="color('#ffff00')"
                        style="border-style:solid;width:20px;height:20px;background-color:#ffff00"></div>
                <td>
                <td>
                    <div onclick="color('#ffff99')"
                        style="border-style:solid;width:20px;height:20px;background-color:#ffff99"></div>
                <td>
                <td>
                    <div onclick="color('#003300')"
                        style="border-style:solid;width:20px;height:20px;background-color:#003300"></div>
                <td>
                <td>
                    <div onclick="color('#555000')"
                        style="border-style:solid;width:20px;height:20px;background-color:#555000"></div>
                <td>
                    <tr>
                        <td>
                            <div onclick="color('#00ff00')"
                                style="border-style:solid;width:20px;height:20px;background-color:#00ff00">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#99ff99')"
                                style="border-style:solid;width:20px;height:20px;background-color:#99ff99">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#f00000')"
                                style="border-style:solid;width:20px;height:20px;background-color:#f00000">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#ff6600')"
                                style="border-style:solid;width:20px;height:20px;background-color:#ff6600">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#ff9933')"
                                style="border-style:solid;width:20px;height:20px;background-color:#ff9933">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#F5DEB3')"
                                style="border-style:solid;width:20px;height:20px;background-color:#F5DEB3">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#FFFFFF')"
                                style="border-style:solid;width:20px;height:20px;background-color:#FFFFFF">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#663300')"
                                style="border-style:solid;width:20px;height:20px;background-color:#663300">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#cc6600')"
                                style="border-style:solid;width:20px;height:20px;background-color:#cc6600">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#DEB887')"
                                style="border-style:solid;width:20px;height:20px;background-color:#DEB887">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#aa0fff')"
                                style="border-style:solid;width:20px;height:20px;background-color:#aa0fff">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#cc66cc')"
                                style="border-style:solid;width:20px;height:20px;background-color:#cc66cc">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#ff66ff')"
                                style="border-style:solid;width:20px;height:20px;background-color:#ff66ff">
                            </div>
                        <td>
                        <td>
                            <div onclick="color('#ff99ff')"
                                style="border-style:solid;width:20px;height:20px;background-color:#ff99ff">
                            </div>
                        <td>

            </table>

            <form>
                <div class="input-group">
                    <input type="text" class="form-control" value="localhost:5000/game/{{game_id}}"
                        placeholder="localhost:5000/game/{{game_id}}" id="copy-input">
                    <span class="input-group-btn">
                        <button onclick="tooltip()" class="btn btn-default" type="button" id="copy-button"
                            data-toggle="tooltip" data-placement="button" title="Copy to Clipboard">
                            Copy
                        </button>
                    </span>
                </div>
            </form>

        </div>

        <footer class="footer">
            <p>&copy; JJ & JK & SM 2021</p>
        </footer>
    </div>
</body>

<script type="text/javascript" charset="utf-8">
    //socket
    var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/game');
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
            socket.on('status', function(data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function(data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('coordinates', function(data) {
                drawFromSocket(data.x, data.y, data.a, data.b);
             });
            $('#textarea').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#textarea').val();
                    $('#textarea').val('');
                    socket.emit('text', {msg: text});
                }
            });
        function leave_room() {
            socket.emit('left', {}, function() {
                socket.disconnect();

                // go back to the login page
                window.location.href = "{{ url_for('main.home') }}";
            });
        }
    });

    //paint
    jsondata = []
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext('2d');
    context.lineWidth = 1;

    var rect = canvas.getBoundingClientRect();
    var offsetX = rect.left;
    var offsetY = rect.top;

    function cleare() {
        jsondata = []
        context.clearRect(0, 0, 650, 450);
    }

    function size1() {
        context.lineWidth = 1;
    }

    function size2() {
        context.lineWidth = 5;
    }

    function size3() {
        context.lineWidth = 10;
    }

    function pencil() {
        canvas.onmousedown = pencildown;
        canvas.onmouseup = pencilup;
        canvas.onmousemove = pencilmove;

        function pencildown(e) {
            x = e.x;
            x = (x - offsetX);
            y = e.y;
            y = (y - offsetY);
            draw = true;
        }

        function pencilup() {
            draw = false;
        }

        function pencilmove(event) {
            if (draw) {
                a = event.x;
                a = (a - offsetX);
                b = event.y;
                b = (b - offsetY);
                context.beginPath();
                context.moveTo(x, y);
                context.lineTo(a, b);
                context.stroke();
                context.closePath();
                jsondata.push({
                    "Type": "pencil",
                    "X0": x,
                    "Y0": y,
                    "X1": a,
                    "Y1": b,
                    "width": context.lineWidth,
                    "color": context.strokeStyle
                })
                socket.emit('coordinates', {x:String(x), y:String(y), a:String(a), b:String(b), lineWidth:String(context.lineWidth), strokeStyle:String(context.strokeStyle)});
                x = a;
                y = b;
            }
        }
    }

    function drawFromSocket(x, y, a, b){
        context.beginPath();
        context.moveTo(x, y);
        context.lineTo(a, b);
        context.stroke();
        context.closePath();
    }

    function color(colour) {
        context.strokeStyle = colour;
        context.fillStyle = colour;
    }

    // Copy game link
    function tooltip() {
        /* Get the text field */
        var copyText = document.getElementById("copy-input");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        // alert("Copied the text: " + copyText.value);
    }
</script>

</html>