<!DOCTYPE html>

<head>
    <title>Create new game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/newGame">New game</a></li>
                </ul>
            </nav>
        </div>

        <div class="jumbotron">
            <h2>Start a new game!</h2>
            <form class="form-group" method="POST" action="{{ url_for('createGame') }}">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="guessingTime">Guessing Time</label>
                        </div>
                        <select class="custom-select" id="guessingTime">
                            <option selected>{{params.minGuessingTime}}</option>
                            {% for o in range(params.minGuessingTime +  params.timeStep, params.maxGuessingTime, params.timeStep) %}
                            <option value="{{o}}">{{o}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="aname" name="inputName" id="inputName" class="form-control"
                            placeholder="Type your name here" aria-label="Your name" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary btn-success">Start a new
                                game</button>
                        </div>
                    </div>
                    <p class="lead"></p>
                </div>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; JJ & JK & SM 2021</p>
        </footer>

    </div>
</body>